PORT=5055

# MongoDB Atlas connection string (Required)
MONGO_URI=your_mongodb_atlas_connection_string

# Authentication
JWT_SECRET=alamsfdfsdsdfsdfsdfsdfsdfsdrafdar!@#$0fddlfjdfdfdssfds
JWT_SECRET_FOR_VERIFY=lfjfjasjfsdfsfr09ri09wfsdfsdfrilfdjdj
ENCRYPT_PASSWORD=856305f1a5b7ba87b8448e69b3bb7a4631c23f0afa2ca5331fa1373f7e372345

# SMTP - Testing / Demo Only
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_smtp_username
SMTP_PASSWORD=your_brevo_smtp_password
SMTP_FROM=your_email@example.com

# Application URLs
STORE_URL=http://localhost:3000
ADMIN_URL=http://localhost:4100


# Stripe
# STRIPE_KEY=your_stripe_secret_key
# MAX_AMOUNT=10000.0
# MIN_AMOUNT=10.0
# AMOUNT_STEP=5.0
# CURRENCY=usd
# Optional Stripe configuration
# STRIPE_PAYMENT_DESCRIPTION="This is Kachabazar payment with Stripe!"


# Production URLs
# STORE_URL=your-store-live-url
# ADMIN_URL=your-admin-live-url